@media screen and (min-width: 973px) and (max-width: 1080px) {
	.nav-bar {
		width: 97%;
	}

	.nav-bar ul li {
		padding: 10px;
	}
}

@media screen and (max-width: 972px) {
	.title {
		font-size: 1.5em;
	}

	header.header {
		grid-template-columns: [start] 31vw [col1] 25px [col2] 33vw [col3] 25px [col4] 1fr [col5] 1fr [end];
	}

	.nav-bar {
		display: none;
	}

	.header-my-name h1{
		font-size: 1.679em;
	}

	#who-i-am, .contact {
		font-size: 1.1em;
	}
}

@media screen and (min-width: 973px) {
	header.header {
		grid-template-rows: [start] 60px [row1] 1fr [row2] 60% [end];
	}

	.nav-bar ul li a {
		font-size: 1em;
	}

	.header-btn {
		display: none;
	}
}

@media screen and (max-width: 760px) {
	#who-i-am, .contact, footer p {
		font-size: .9em;
	}

	.header-my-name h1{
		font-size: 1.3em;
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: .9em;
	}

	.header-my-name {
		width: 50%;
	}

	.header-my-name h1{
		font-size: 1em;
	}

	#who-i-am{
		font-size: 1em;
	}

	.technologic-languaje span {
		border: none;
	}

	.technologic-languaje .html {
    background-color: var(--color-orange);
    box-shadow: 0 0 10px var(--color-orange);
	}

	.technologic-languaje .css {
	    background-color: var(--color-blue-clear);
	    box-shadow: 0 0 10px var(--color-blue-clear);
	}

	.technologic-languaje .js {
	    background-color: var(--color-yellow);
	    box-shadow: 0 0 10px var(--color-yellow);
	}

	.technologic-languaje .node {
	    background-color: var(--color-green);
	    box-shadow: 0 0 10px var(--color-green);
	}

	.technologic-languaje .php {
	    background-color: var(--color-blue-opacity);
	    box-shadow: 0 0 10px var(--color-blue-opacity);
	}

	.technologic-languaje .sql {
	    background-color: var(--color-gray-opacity);
	    box-shadow: 0 0 10px var(--color-gray-opacity);
	}

	#contacts {
		width: auto;
	}

	#who-i-am,
	.project-list,
	.contacts-block {
		display: flex;
		flex-wrap: wrap;
	}

	#who-i-am,
	.contacts-block {
		flex-direction: column;
	}
}

@media screen and (max-width: 320px) {
	
}
