/*-----------    Variables  ---------------*/
:root {
    /*Colors*/
/*    --color-blue:#197CDF;*/
    --color-blue:#158ad5;
    --color-blue-opacity: rgba(23, 81, 191, .88);
    --color-blue-clear:rgba(59, 127, 236, .88);
    --color-white: white;
    --color-black: black;
    --color-gray: #222121;
    --color-gray-opacity: rgba(127, 126, 126, 1);
    --color-orange: rgba(203, 135, 11, .8);
    --color-yellow: rgba(255, 193, 7, 1);
    --color-green: rgba(51, 197, 32, 1);
    /*Space*/
    --espaciado: 10px;
    --espaciado-secciones: 10vh;

    /*Font-size*/
    --font-big-bigger:18px;
    --font-big: 16px;
    --font-medium: 14px;
    --font-small: 12px;
}

/*Especificaciones en General*/
html,
html::after,
html::before {
    box-sizing: border-box;
}
/*Solucionar esto*/
* {
	margin: 0;
  padding: 0;
}
/*-----------------*/
body {
    font-family: 'console', 'comic-sans' , sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
	list-style: none;
}

.title {
    margin: 0;
    font-size: var(--font-medium);
}
.not-active {
	display: none!important;
}

.container {
    width: 90%;
    margin: auto;
}

.bar-line {
    width: 90%;
    margin: auto;
    text-align: center;
    border-bottom: 5px dashed white;
}

/*Header*/
header.header {
    width: 100%;
    height: 90vh;
    /*background-image: url(../img/background-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
    background-color: gray;
    display: grid;
    grid-template: [start] 80px [row1] 1fr [row2] 60% [end] / [start] 1fr [col1] 1fr [col2] 1fr [end];
    grid-auto-columns: 10%;
    position: relative;
}

/*Menu de navegacion*/
.header-nav-bar {
    grid-column: col1 / span end;
}
.nav-bar {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.nav-bar ul {
	width: 75%;
	display: inherit;
	justify-content: space-between;
}
.nav-bar ul li {
	padding: 10px 15px;
}
.nav-bar ul li:hover {
	background-color: var(--color-blue);
	border-radius: 20px;
}
.nav-bar ul li a {
	font-size: var(--font-big-bigger);
	color:var(--color-white);
}

/*boton movil*/
.btn-more-option {
    grid-column: 4;
    width: 3.7vw;
    height: fit-content;
    justify-self: center;
    align-self: center;
}

.btn-more-option span {
	display: block;
	height: 5px;
	padding: 3px;
	margin-bottom: 7px;
	background-color: var(--color-black);
}

/*Imagen de perfil del header*/
.header-img-profile {
    grid-area: profile-img;
    background-color: green;
    padding: 100px 50px;
    grid-row: row2 / span end;
    grid-column: col1 / span col2;
}

/*Mi Nombre*/
.header-my-name {
    justify-self: center;
    position: absolute;
    bottom: -25px;
    color: var(--color-white);
    background-color: var(--color-blue);
    width: 38%;
    border-radius: 25px;
    box-shadow: 1px 1px 10px var(--color-gray);
}

.header-my-name h1 {
    padding:10px 0;
    text-shadow: 0 5px 11px var(--color-gray);
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

/*main*/
.main {
    background-color: var(--color-gray);
    color:var(--color-white);
}

/*who i am*/
#who-i-am {
    padding: 10vh 0;
    width: 85%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: [start] 25% [col1] 1fr [col2] 25% [end];
    grid-template-rows: [start] .5fr [row1] 1fr [row2] .5fr [end];
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 1.2em;
}
#who-i-am h2 {
    grid-column: col1;
    font-size: 2em;
    letter-spacing: 3px;
}

#who-i-am .photo {
    grid-column: col1;
    grid-row: row1;
    padding: 21.5vh 11vw;
    background-color: var(--color-black);
    width: 5%;
    /*border-radius: 50%;*/
}

#who-i-am .description {
    grid-column: start;
    grid-row: row1;
    width: 80%;
    line-height: 1.5;
}

#who-i-am .phrase {
    grid-column: col1;
    grid-row: row2;
    width: 70%;
    line-height: 1.7;
}

#who-i-am .technologic-languaje {
    grid-column: col2;
    grid-row: row1;
    display: inherit;
    grid-template: repeat(2, 15vh) / repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    align-items: center;
}

.technologic-languaje span{
    border: dashed;
    padding: 5vh 15%;
}

.technologic-languaje .html:hover {
    background-color: var(--color-orange);
}

.technologic-languaje .css:hover {
    background-color: var(--color-blue-clear);
}

.technologic-languaje .js:hover {
    background-color: var(--color-yellow);
}

.technologic-languaje .node:hover {
    background-color: var(--color-green);
}

.technologic-languaje .php:hover {
    background-color: var(--color-blue-opacity);
}

.technologic-languaje .sql:hover {
    background-color: var(--color-gray-opacity);
}

#projects {
    width: 85%;
    height: 135vh;
    margin: auto;
    font-size: var(--font-medium);
}

#projects .title {
    font-size: 2em;
    border: 5px dashed var(--color-blue);
    border-inline: none;
    color: var(--color-blue);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
    letter-spacing: 10px;
    line-height: 3;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(20vw, 100%));
    grid-gap: 30px;
    justify-content: center;
}

.project {
    background-color: white;
    width: 100%;
    min-height: 15vh;
    max-height: 17vh;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 17vh 0;
}

.project-image {
    margin: 0;
}

.project-image img {
    width: 100%;
    vertical-align: top;
}

.project-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.project:hover .project-overlay {
    display: flex;
}

.project-title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}