.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid aquamarine;
  border-radius: 5px;
}

.slider-container .item-active {
  display: block;
}

.item {
  /*display: none;*/
  width: 50%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-slide {
  background-color: aquamarine;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.btn-slide:hover {
  cursor: pointer;
}

.btnPrev {
  position: absolute;
  top: 50%;
  left: 0;
}

.btnNext {
  position: absolute;
  top: 50%;
  left: 100%;
}

.btn-container {
  text-align: center;
}
