/*-------------------------- Contacto -----------------------*/
.section__contacts {
  width: 100%;
  height: auto;
  margin: 0 auto 10vh auto;
  text-align: center;
}

.contacts {
  grid-template-rows: 370px 1fr;
  grid-template-areas:
    "contactme"
    "socialNetwork";
  grid-auto-flow: column;
}

@media screen and (max-width: 480px) {
  .contacts {
    grid-template-rows: repeat(2, 1fr);
  }

  .section__contacts {
    width: auto;
  }
}
