/*-------------------------- Contacto -----------------------*/
.socialNetwork {
  width: 100%;
  height: auto;
  margin: 0 auto 10vh auto;
  text-align: center;
}

.socialNetwork .container-flex {
  width: 85%;
  height: auto;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-blue);
}

.socialNetwork .container-flex::after,
.socialNetwork .container-flex::before {
  content: "-------";
}

.socialNetwork-item {
  width: 20%;
  padding: 5vh 0;
  height: auto;
}

.socialNetwork-item:last-child {
  border-right: none;
}

.socialNetwork-item:hover {
  background-color: var(--color-white);
}

.socialNetwork-name {
  color: var(--color-white);
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.socialNetwork-item:hover .socialNetwork-name {
  color: var(--color-blue);
}

.socialNetwork-img {
  object-fit: cover;
}

.socialNetwork .container {
  margin-bottom: 50px;
}

.socialNetwork > .container h3 {
  width: max-content;
  margin: 0 auto 20px auto;
  border-bottom: 3px solid var(--color-blue);
}

.socialNetwork > .container p {
  width: 85%;
  margin: 0 auto 30px auto;
  line-height: 1.7;
}

@media screen and (max-width: 480px) {
  .socialNetwork {
    width: auto;
  }
}
