/*------------- Proyectos ---------------------*/
#projects {
  width: 85%;
  margin: auto;
  font-size: var(--font-medium);
}

#projects .title {
  margin-bottom: 2em;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(20vw, 100%));
  grid-gap: 30px;
  justify-content: center;
}

.project {
  width: 100%;
  height: min-content;
  cursor: pointer;
  position: relative;
  display: block;
}

.project-img {
  margin: 0;
  max-width: 100%;
}

.project-img img {
  width: 100%;
  vertical-align: top;
  max-height: 25vh;
  object-fit: cover;
  object-position: top center;
}

.project-overlay {
  background: var(--color-blue-opacity);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
}

.project:hover .project-overlay {
  display: flex;
}

.project-title {
  font-weight: bold;
  font-size: 1.5em;
}

.contacts-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
