.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background: green;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    var(--background-hero-desktop);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: lightUp 3s;
  -webkit-animation: lightUp 3s;
}

.hero__container {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: var(--color-blue);
  width: 60vw;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px var(--color-blue);
  transform: translate(-50%, -50%);
}

.hero__title {
  margin: 25px 0;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 5px 11px var(--color-gray);
  letter-spacing: 10px;
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: var(--background-hero-movil);
  }
  .hero__title {
    font-size: 1.2rem;
  }
}

@keyframes lightUp {
  from {
    filter: brightness(0);
  }
  to {
    filter: brightness(1);
  }
}

@-webkit-keyframes lightUp {
  from {
    -webkit-filter: brightness(0);
  }
  to {
    -webkit-filter: brightness(1);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
