.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background: green;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    var(--background-hero);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: lightUp 3s;
}

.hero__container {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: var(--color-blue);
  width: 60vw;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px var(--color-blue);
  transform: translate(-50%, -50%);
  animation: fadeIn 4s;
}

.hero__title {
  margin: 25px 0;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 5px 11px var(--color-gray);
  letter-spacing: 10px;
  animation: showUp 4s;
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 1.2rem;
  }
}

@keyframes fadeIn {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes showUp {
  from {
    font-size: 0;
  }
  to {
    font-size: 1.7rem;
  }
}

@keyframes lightUp {
  from {
    filter: brightness(0);
  }
  to {
    filter: brightness(1);
  }
}
