.blog {
  grid-template-columns: 60vh 50%;
  grid-template-areas:
    "image textInfo"
    "image btn";
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.blog .text {
  grid-area: textInfo;
  align-self: center;
  width: 80%;
  max-width: 430px;
}

.blog__image {
  grid-area: image;
}

.blog__btn {
  grid-area: btn;
}

@media screen and (max-width: 480px) {
  .blog {
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "textInfo"
      "image"
      "btn";
  }
}
