.info__description {
  flex-direction: row-reverse;
  width: auto;
  height: 100%;
  min-height: 200px;
  margin: auto;
  position: relative;
}

.aboutme__description {
  background: var(--color-blue);
  width: 50%;
  max-width: 500px;
  height: 70%;
  max-height: 65%;
  padding: 10px 10% 0 15px;
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  text-align: left;
}

.aboutme__img {
  width: 50%;
  z-index: 1;
}

.aboutme__img .img__text {
  font-size: 0.65rem;
  max-width: 320px;
}

.aboutme__img img {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .info__description {
    flex-direction: column-reverse;
    margin: 35vh auto;
    align-items: center;
    gap: 30px 0;
  }

  .aboutme__description {
    width: 85%;
    padding: 15px 2em 20px 2em;
    border-radius: 10px;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

  .aboutme__img {
    width: 90%;
  }
}
