/*-----------    Variables  ---------------*/
:root {
  --color-blue: #158ad5;
  --color-blueMarine: rgba(23, 81, 191, 0.88);
  --color-blueClear: rgba(59, 127, 236, 0.88);
  --color-white: white;
  --color-black: black;
  --color-gray: #222121;
  --color-gray-opacity: rgba(127, 126, 126, 1);

  --espaciado: 10px;
  --espaciado-secciones: 10vh;

  --font-big-bigger: 18px;
  --font-big: 16px;
  --font-medium: 14px;
  --font-small: 12px;

  --background-hero: url(https://i.imgur.com/u2XDPbG.png);
}

html,
html::after,
html::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "console", "comic-sans", sans-serif;
  color: var(--color-white) !important;
  background-color: var(--color-gray) !important;
}

a {
  text-decoration: none !important;
  color: var(--color-white);
}

ul,
li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

.container {
  width: 85%;
  margin: auto;
  text-align: center;
}

.container-grid {
  display: grid;
  align-items: center;
  justify-items: center;
}

.container-flex {
  display: flex;
}

.container-img {
  max-width: 100%;
}

.container-img-item {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
}

.flex-column {
  flex-direction: column;
}

.section__title {
  color: var(--color-white);
  margin: 0 0 1em 0;
  border: 5px dashed var(--color-blueMarine);
  border-inline: none;
  font-size: 1.85rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 3;
}

.space-section {
  margin: 0 0 7vh 0;
}

.not-active {
  display: none !important;
}
