.aboutme .container-grid {
  grid-template-columns: 28% 1fr 28%;
  grid-template-areas:
    "title title title"
    "intro photo ."
    ". phrase .";
  grid-gap: 20px;
}

.aboutme .title-section {
  grid-area: title;
  width: 100%;
}

.aboutme .photo {
  grid-area: photo;
}

.aboutme .photo,
.contact-img {
  max-width: 100%;
}

.aboutme .photo img,
.contact-img img {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
}

.aboutme .intro {
  grid-area: intro;
  width: 80%;
  line-height: 1.5;
}

.aboutme .phrase {
  grid-area: phrase;
  width: 70%;
  line-height: 1.7;
  margin: 0;
}
